* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.header {
  max-width: 100%;
  height: 600px;
  background: linear-gradient(110deg, #9e11ab, #00f76b);
}

.main {
  max-width: 1200px;
  margin: auto;
}

.links-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hedLink {
  text-decoration: none;
  color: #343f52;
  margin: 15px 20px;
  font-size: 17px;
}

.logo {
  font-size: 30px;
  margin: 25px 20px;
}

.description {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desH1 {
  text-align: center;
  margin-top: 60px;
  font-size: 60px;
}

.desH1 img {
  display: flex;
  transform: translateX(200%);
}

.desP {
  text-align: center;
  margin: 15px;
  font-weight: 300;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desBtn {
  background: #fff;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 15px;
}

.mainDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.mainDescription h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.mainDescription p {
  margin-bottom: 40px;
  color: #60697b;
}

.content {
  width: 22%;
  min-height: 270px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 5px;
}

.content a {
  text-decoration: none;
  color: #e668b3;
}

.social {
  width: 22%;
  min-height: 270px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 5px;
}

.social a {
  text-decoration: none;
  color: #a07cc5;
}

.identity {
  width: 22%;
  min-height: 270px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 5px;
}

.identity a {
  text-decoration: none;
  color: #f78b77;
}

.product {
  width: 22%;
  min-height: 270px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 5px;
}

.product a {
  text-decoration: none;
  color: #45c4a0;
}

.headings {
  margin-top: 141px;
}

.headings h6 {
  text-align: center;
  color: lightgrey;
  font-weight: lighter;
  margin: 10px;
}

.headings h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: lighter;
}

.wrapperChoose {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapperChoose img {
  margin-right: 15px;
}

.collect {
  display: flex;
  width: 30%;
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 7px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.data {
  display: flex;
  width: 30%;
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 7px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.finalize {
  display: flex;
  width: 30%;
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 7px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.whyChooseImage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.whyChooseLI {
  list-style: none;
  margin-top: 15px;
}

.whyChooseLI::before {
  content: url(images/whyChooseImageText.svg);
  margin-right: 15px;
}

.whyChooseP {
  margin-top: 25px;
  margin-bottom: 25px;
}

.whyChooseBtn {
  background: #e668b3;
  border: 0;
  outline: 0;
  color: #fff;
  border-radius: 5px;
  width: 140px;
  height: 53px;
  margin-top: 40px;
}

.whyChooseText {
  margin-top: 40px;
  margin-left: 30px;
  width: 40%;
}

.whyChooseFirstIMG {
  width: 60%;
}

.saveMoney {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 484px;
  background: #f6f7f9;
}

.textContainer {
  margin-top: 70px;
  margin-right: 99px;
}

.textContainerP {
  color: lightgray;
  margin-bottom: 15px;
  font-family: serif;
}

.textContainerH3 {
  font-size: 40px;
  font-weight: lighter;
  font-family: serif;
}

.vectorContainer1 {
  text-align: center;
  margin-top: 70px;
  margin-left: 30px;
  position: relative;
}

.vectorContainer1Percent {
  font-size: 25px;
  font-weight: lighter;
  position: absolute;
  right: 36%;
  top: 50%;
}

.vectorContainer2 {
  text-align: center;
  margin-top: 70px;
  margin-left: 30px;
  position: relative;
}

.vectorContainer2Percent {
  font-size: 25px;
  font-weight: lighter;
  position: absolute;
  right: 36%;
  top: 50%;
}

.secondMain {
  max-width: 80%;
  margin: auto;
  position: relative;
}

.slideDescriptionCont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: -190px;
  background: #fff;
}

.slideDescriptionIMG {
  width: 50%;
  transform: scale(1) rotate(0deg);
  transition: transform 2s ease-in-out;
}

.slideDescriptionIMG.animate {
  transform: scale(1.2) rotate(360deg);
  animation: shrink 1s 2s forwards ease-in-out;
}

@keyframes shrink {
  from {
    transform: scale(1.2) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

.slideTextCont {
  width: 50%;
  text-align: center;
  margin-top: 90px;
  margin-left: 80px;
  margin-right: 80px;
}

.slideTextP {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 26px;
  color: #60697b;
}

.slideTextH4 {
  margin-bottom: 10px;
}

.slideTextH5 {
  margin-bottom: 60px;
  font-weight: lighter;
  color: #60697b;
}

.imgCont {
  margin: 0;
  padding: 0;
}

.latestProject {
  margin-top: 140px;
}

.textProject {
  text-align: center;
}

.textProjectP {
  font-size: 18px;
  font-weight: lighter;
  color: lightgray;
  margin-bottom: 16px;
}

.textProjectH1 {
  font-weight: lighter;
  margin-bottom: 50px;
}

.sliderProject {
  display: flex;
}

.slide1 {
  width: 30%;
  margin: 3.33%;
}

.slide1H2 {
  margin-top: 32px;
}

.slide1P {
  color: #9499a3;
  margin-top: 13px;
}

.slide1IMG {
  width: 100%;
}

.slide2 {
  width: 30%;
  margin: 3.33%;
}

.slide2H2 {
  margin-top: 32px;
}

.slide2P {
  color: #9499a3;
  margin-top: 13px;
}

.slide2IMG {
  width: 100%;
}

.slide3 {
  width: 30%;
  margin: 3.33%;
}

.slide3H2 {
  margin-top: 32px;
}

.slide3P {
  color: #9499a3;
  margin-top: 13px;
}

.slide3IMG {
  width: 100%;
}

.imgContProject {
  text-align: center;
}

.imgContProject img {
  margin: 5px;
}

.whatMakesDifferent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 160px;
  margin-top: 172px;
  gap: 4%;
}

.imgContDifferent {
  flex-basis: 48%;
}

.textContDifferent {
  flex-basis: 48%;
  margin-top: 92px;
}

.firstIMG {
  max-width: 80%;
  margin-bottom: 25px;
}
.secondIMGCont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.secondIMG {
  max-width: 50%;
}

.thirdIMG {
  max-width: 50%;
}

.textDifferentP {
  margin-bottom: 15px;
  color: lightgray;
}

.textDifferentH2 {
  margin-bottom: 54px;
  font-weight: lighter;
  font-size: 32px;
}

.divWrapperDifferent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divDifferent {
  display: flex;
  align-items: flex-start;
  margin-bottom: 34px;
}

.divDifferentIMG {
  margin-right: 20px;
}

.divDifferentH3 {
  margin-bottom: 10px;
}

.divDifferentP {
  color: #60697b;
}

.footer {
  max-width: 1320px;
  height: 776px;
  margin: auto;
}

.mainFooter {
  height: 370px;
  background: linear-gradient(110deg, #9e11ab, #00f76b);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerP {
  color: #fff;
  text-align: center;
  margin-top: 71px;
  font-size: 20px;
  font-weight: lighter;
}

.footerH2 {
  color: #fff;
  text-align: center;
  margin-top: 17px;
  font-size: 44px;
  font-weight: lighter;
}

.footerH2 span {
  font-size: 40px;
}

.footerBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

.footerBtn {
  color: #000;
  border: 0;
  background: #fff;
  width: 140px;
  height: 52px;
  border-radius: 5px;
}

.linksFooter {
  display: flex;
  margin-top: 90px;
}

.footerSocialLinks {
  width: 25%;
}

.socialLogo {
  margin-bottom: 20px;
}

.socialP {
  margin-bottom: 30px;
  color: #60697b;
}

.fa-twitter {
  color: #5daed5;
  margin-right: 14px;
}

.fa-facebook-f {
  color: #4470cf;
  margin-right: 14px;
}

.fa-basketball {
  color: #e94d88;
  margin-right: 14px;
}

.fa-instagram {
  color: #d53581;
  margin-right: 14px;
}

.fa-youtube {
  color: #c8312b;
}

.getInTouchFooter {
  width: 20%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.getInTouchH2 {
  margin-bottom: 20px;
  font-weight: lighter;
}

.getInTouchAdress {
  margin-bottom: 30px;
  color: #60697b;
}

.getInTouchEmail {
  color: #60697b;
}

.footerLearnMore {
  width: 20%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.footerLearnMoreH2 {
  margin-bottom: 20px;
  font-weight: lighter;
}

.footerLearnMore a {
  display: block;
  text-decoration: none;
  color: #60697b;
  margin-bottom: 15px;
}

.ourNewsletterLink {
  width: 30%;
}

.footerOurNewseltterH2 {
  font-weight: lighter;
  margin-bottom: 20px;
}

.footerOurNewseltterP {
  color: #60697b;
  margin-bottom: 30px;
}

.footerInputCont {
  display: flex;
  align-items: center;
}

.footerInput {
  border: 0.5px solid lightgray;
  outline: 0;
  height: 50px;
  width: 217px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.footerInputBtn {
  border: 0;
  outline: 0;
  background: #a07cc5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  height: 61px;
  width: 73px;
}

@media (max-width: 1050px) {
  .whatMakesDifferent {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .main {
    padding: 0 10px;
  }
  .saveMoney {
    margin-top: 20px;
    padding: 0 10px;
  }
  .linksFooter {
    padding: 0 10px;
  }
}

@media (max-width: 920px) {
  .mainDescription {
    margin-right: 0;
    padding-right: 0;
  }
  .content h3 {
    font-size: 14px;
  }
  .content p {
    font-size: 12px;
  }
  .social h3 {
    font-size: 14px;
  }
  .social p {
    font-size: 12px;
  }
  .identity h3 {
    font-size: 14px;
  }
  .identity p {
    font-size: 12px;
  }
  .product h3 {
    font-size: 14px;
  }
  .product p {
    font-size: 12px;
  }
  .whyChooseP {
    font-size: 12px;
  }
  .headings h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .textContDifferent {
    flex-basis: 100%;
  }
  .textContainerP {
    font-size: 17px;
  }
  .textContainerH3 {
    font-size: 25px;
  }
  .secondMain {
    margin-top: 20px;
  }
  .slideTextCont {
    margin-top: 20px;
  }
  .slideTextP {
    font-size: 15px;
  }
}

@media (max-width: 830px) {
  .hedLink {
    font-size: 14px;
  }
  .logo {
    font-size: 18px;
  }
  .desH1 {
    font-size: 50px;
  }
  .desP {
    font-size: 12px;
  }
  .content h3 {
    font-size: 12px;
  }
  .content p {
    font-size: 10px;
  }
  .social h3 {
    font-size: 12px;
  }
  .social p {
    font-size: 10px;
  }
  .identity h3 {
    font-size: 12px;
  }
  .identity p {
    font-size: 10px;
  }
  .product h3 {
    font-size: 12px;
  }
  .product p {
    font-size: 10px;
  }
  .content a {
    font-size: 12px;
  }
  .social a {
    font-size: 12px;
  }
  .product a {
    font-size: 12px;
  }
  .identity a {
    font-size: 12px;
  }
  .collect div h2 {
    font-size: 14px;
  }
  .collect div p {
    font-size: 12px;
  }
  .data div h2 {
    font-size: 14px;
  }
  .data div p {
    font-size: 12px;
  }
  .finalize div h2 {
    font-size: 14px;
  }
  .finalize div p {
    font-size: 12px;
  }
  .whyChooseLI {
    font-size: 12px;
  }
  .slideTextP {
    font-size: 10px;
  }
  .footerP {
    font-size: 20px;
  }
  .footerH2 {
    font-size: 30px;
  }
  .footerH2 span {
    font-size: 30px;
  }
  .getInTouchAdress {
    font-size: 12px;
  }
  .getInTouchEmail {
    font-size: 12px;
  }
  .footerLearnMoreH2 {
    font-size: 14px;
  }
  .footerLearnMore a {
    font-size: 12px;
  }
  .socialLogo {
    font-size: 14px;
  }
  .socialP {
    font-size: 12px;
  }
  .getInTouchH2 {
    font-size: 14px;
  }
  .footerOurNewseltterH2 {
    font-size: 14px;
  }
  .footerOurNewseltterP {
    font-size: 10px;
  }
  .footerInput {
    border: 0.5px solid lightgray;
    outline: 0;
    height: 40px;
    width: 117px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
  }
  .footerInputBtn {
    border: 0;
    outline: 0;
    background: #a07cc5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    height: 40px;
    width: 36.5px;
  }
}

@media (max-width: 650px) {
  .textContainerP {
    font-size: 12px;
  }
  .textContainerH3 {
    font-size: 16px;
  }
  .slideTextP {
    font-size: 8px;
  }
  .slideTextH4 {
    font-size: 12px;
  }
  .slideTextH5 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .textProjectP {
    font-size: 18px;
  }
  .textProjectH1 {
    font-size: 25px;
  }
  .hedLink {
    font-size: 10px;
    color: #fff;
  }
  .logo {
    color: #fff;
  }
  .desH1 {
    font-size: 35px;
  }
  .desP {
    font-size: 14px;
  }
  .desBtn {
    font-size: 14px;
  }
  .content {
    min-height: 200px;
  }
  .product {
    min-height: 200px;
  }
  .identity {
    min-height: 200px;
  }
  .social {
    min-height: 200px;
  }
  .content h3 {
    font-size: 10px;
  }
  .content p {
    font-size: 8px;
  }
  .social h3 {
    font-size: 10px;
  }
  .social p {
    font-size: 8px;
  }
  .identity h3 {
    font-size: 10px;
  }
  .identity p {
    font-size: 8px;
  }
  .product h3 {
    font-size: 10px;
  }
  .product p {
    font-size: 8px;
  }
}

@media (max-width: 426px) {
  .hedLink {
    font-size: 8px;
  }
  .imgContDifferent {
    display: none;
  }
  .saveMoney {
    flex-wrap: wrap;
  }
  .footerP {
    font-size: 10px;
  }
  .footerH2 {
    font-size: 20px;
  }
  .footerH2 span {
    font-size: 20px;
  }
  .getInTouchAdress {
    font-size: 8px;
  }
  .getInTouchEmail {
    font-size: 8px;
  }
  .footerLearnMoreH2 {
    font-size: 10px;
  }
  .footerLearnMore a {
    font-size: 10px;
  }
  .socialLogo {
    font-size: 12px;
  }
  .socialP {
    font-size: 8px;
  }
  .getInTouchH2 {
    font-size: 10px;
  }
  .footerOurNewseltterH2 {
    font-size: 10px;
  }
  .footerOurNewseltterP {
    font-size: 8px;
  }
  .footerInput {
    border: 0.5px solid lightgray;
    outline: 0;
    height: 40px;
    width: 67px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
  }
  .footerInputBtn {
    border: 0;
    outline: 0;
    background: #a07cc5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    height: 40px;
    width: 30px;
  }
  .slideDescriptionCont {
    margin-top: -90px;
  }
  .slideTextCont {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .slideTextP {
    font-size: 6px;
  }
  .slideTextH4 {
    font-size: 8px;
  }
  .slideTextH5 {
    font-size: 8px;
  }
  .content h3 {
    font-size: 8px;
  }
  .content p {
    font-size: 6px;
  }
  .social h3 {
    font-size: 8px;
  }
  .social p {
    font-size: 6px;
  }
  .identity h3 {
    font-size: 8px;
  }
  .identity p {
    font-size: 6px;
  }
  .product h3 {
    font-size: 8px;
  }
  .product p {
    font-size: 6px;
  }
  .content a {
    font-size: 10px;
  }
  .social a {
    font-size: 10px;
  }
  .product a {
    font-size: 10px;
  }
  .identity a {
    font-size: 10px;
  }
  .mainDescription {
    margin-top: 20px;
  }
  .headings h6 {
    font-size: 15px;
  }
  .headings h1 {
    font-size: 20px;
  }
  .collect div h2 {
    font-size: 8px;
  }
  .collect div p {
    font-size: 6px;
  }
  .data div h2 {
    font-size: 8px;
  }
  .data div p {
    font-size: 6px;
  }
  .finalize div h2 {
    font-size: 8px;
  }
  .finalize div p {
    font-size: 6px;
  }
  .whyChooseH2 {
    font-size: 10px;
  }
  .whyChooseP {
    font-size: 7px;
  }
  .whyChooseLI {
    font-size: 7px;
  }
  .textProjectP {
    font-size: 10px;
  }
  .textProjectH1 {
    font-size: 15px;
  }
  .slide1H2 {
    font-size: 10px;
  }
  .slide2H2 {
    font-size: 10px;
  }
  .slide3H2 {
    font-size: 10px;
  }
  .slide1P {
    font-size: 8px;
  }
  .slide2P {
    font-size: 8px;
  }
  .slide3P {
    font-size: 8px;
  }
  .textDifferentP {
    font-size: 10px;
  }
  .textDifferentH2 {
    font-size: 15px;
  }
  .divDifferentH3 {
    font-size: 10px;
  }
  .divDifferentP {
    font-size: 8px;
  }
}

@media (max-width: 376px) {
  .slideDescriptionCont {
    margin-top: 20px;
  }
  .slideTextCont {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .vectorContainer1Percent {
    font-size: 15px;
  }

  .vectorContainer2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    position: relative;
  }

  .vectorContainer2Percent {
    font-size: 15px;
  }
  .whyChooseFirstIMG {
    display: none;
  }
  .whyChooseText {
    text-align: center;
  }
  .whyChooseH2 {
    font-size: 40px;
  }
  .whyChooseP {
    font-size: 20px;
  }
  .whyChooseText {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 321px) {
  .desH1 {
    font-size: 25px;
  }
  .desP {
    font-size: 12px;
  }
  .content h3 {
    font-size: 8px;
  }
  .content p {
    font-size: 6px;
  }
  .social h3 {
    font-size: 8px;
  }
  .social p {
    font-size: 6px;
  }
  .identity h3 {
    font-size: 8px;
  }
  .identity p {
    font-size: 6px;
  }
  .product h3 {
    font-size: 8px;
  }
  .product p {
    font-size: 6px;
  }
  .content a {
    font-size: 8px;
  }
  .social a {
    font-size: 8px;
  }
  .product a {
    font-size: 8px;
  }
  .identity a {
    font-size: 8px;
  }
  .content {
    min-height: 140px;
  }
  .product {
    min-height: 140px;
  }
  .social {
    min-height: 140px;
  }
  .identity {
    min-height: 140px;
  }
  .mainDescription p {
    margin-bottom: 10px;
    color: #60697b;
  }
  .wrapperChoose div{
    width: 100%;
    flex-wrap: wrap;
  }
  .collect div p {
    padding: 5px;
  }
  .data div p {
    padding: 5px;
  }
  .finalize div p {
    padding: 5px;
  }
  .footerP {
    font-size: 8px;
  }
  .footerH2 {
    font-size: 16px;
  }
  .footerH2 span {
    font-size: 16px;
  }
  .textProjectH1{
    font-size: 12px;
  }
}
